:root {
  --pink: #FF6977;
  --green: #00FFC8;
}
/* if you use light mode on your OS */
@media screen and (prefers-color-scheme: light) {
	:root {
    --bg: #FFF7F7;
    --fg: #273DD6;
  }
	.light {
		display: none;
	}
	input.toggle::before {
		background: var(--fg);
		left: .5rem;
		box-shadow: none;
	}	
}

/* if you use dark mode on your OS */

@media screen and (prefers-color-scheme: dark) {
	:root {
    --bg: #072A2A;
    --fg: #FFF7F7;
	}
	.dark {
		display: none;
	}
	input.toggle::before {
	    background: transparent;
	    left: 20px;
	    box-shadow: 5px 5px 0 0 var(--fg);
	}
}

:selection {
  color: var(--bg);
  background: var(--fg);
}
/* Dark Mode / Light Mode toggle */
input.toggle {
	position: fixed;
	right: 2rem;
	top: 1rem;
	border-radius: 50px;
	appearance: none;
	width: 4rem;
	height: 2.5rem;
	outline: none;
	border: 2px solid var(--fg);
	cursor: pointer;
	background: var(--bg);
	z-index: 27;
}
input.toggle::before {
  content: '';
  width: 1.5rem;
  height: 1.5rem;   
  position: absolute;
  top: 0;
  margin: auto;
  border-radius: 50%;
  transform: rotate(-45deg);
  transition: all 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
  bottom: 0;
}
	
/* if you activate light mode */
input.light:checked::before {
	background: var(--fg);
	left: 2px;
	box-shadow: none;
}
.light:checked,
.light:checked ~ * {
  --bg: #FFF7F7;
  --fg: #273DD6;
}

/* if you activate dark mode */
input.dark:checked::before {
	background: transparent;
	left: 20px;
	box-shadow: 5px 5px 0 0 var(--fg)
}
.dark:checked,
.dark:checked + input ~ * {
  --bg: #072A2A;
  --fg: #FEF7F7;
}

:-webkit-scrollbar {
  width: 8px;
}
:-webkit-scrollbar-thumb {
  background-color: var(--fg);
  border-radius: 0;
}
:-webkit-scrollbar-track {
  background-color:  var(--bg)
}


html {
  scroll-behavior: smooth;
  scroll-padding-top:80px;
}

body {
  margin: 0;
  padding: 0;
}

main.container {
  background: var(--bg);
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 1.25rem;
  line-height: 160%;
  scroll-behavior: smooth;
  color: var(--fg);
  z-index: 1;
  position: relative;
  overflow-y: auto;
  max-height: 100svh;
}

h1, h2, h3, h4, .button {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 800;
  line-height: 80%;
  margin-bottom: 1rem;
}

h1 {
  font-size: 5rem;
}

section {
  min-height: 100svh;
  display: flex;
  align-items: center;
  margin: auto;
}
section {
  width: 80%;
  max-width: 1280px;
  min-width: 300px;
  animation-name: scollAnimation;
  animation-duration: 4ms;
  animation-direction: alternate;
  animation-timeline: view();
  grid-gap: 40px;
}

@keyframes scollAnimation {
  from {
    transform: scale(.9);
    opacity:.4;
  }
 40% {
    transform: scale(1);
    opacity:1;
  }
 60% {
    transform: scale(1);
    opacity:1;
  }
  to {
    transform: scale(.9);
    opacity:.4;
  }
  
}

a {
  color: var(--fg);
  text-decoration: underline 2px solid var(--pink);
  position: relative;
}

a:not(.button):hover {
  background: var(--fg);
  color: var(--bg);
  text-decoration: none;
}

.button {
  padding: 16px;
  outline: 2px solid var(--fg);
  box-shadow: 4px 4px 0 2px;
  transition: all .1s ease;
  position: relative;
  display: inline-block;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 1.5rem;
}

.button:hover {
  box-shadow: 5px 5px var(--pink), 5px 5px 0 2px, 10px 10px var(--green), 10px 10px 0 2px;
  transform: translate(-10px, -10px)
}

.button:active {
  box-shadow: 0 0 40px var(--pink);
  transform: translate(0,0)
}
